RewriteEngine on

RewriteRule ^home$ index.php?page=home [L]
RewriteRule ^home/page/([0-9]+) index.php?page=home&p=$1 [L]
RewriteRule ^article/([0-9]+) index.php?page=article&p=$1 [L]
RewriteRule ^register$ index.php?page=register [L]
RewriteRule ^ladders/pvm$ index.php?page=ladders_pvm [L]
RewriteRule ^ladders/pvp$ index.php?page=ladders_pvp [L]
RewriteRule ^ladders/kolizeum1v1$ index.php?page=ladders_koli1v1 [L]
RewriteRule ^ladders/kolizeum3v3$ index.php?page=ladders_koli3v3 [L]
RewriteRule ^ladders/kolizeum3v3solo$ index.php?page=ladders_koli3v3solo [L]
RewriteRule ^ladders/vote$ index.php?page=ladders_vote [L]
RewriteRule ^ladders/guilde$ index.php?page=ladders_guilde [L]
RewriteRule ^connection$ index.php?page=connection [L]
RewriteRule ^login$ index.php?page=login [L]
RewriteRule ^logout$ index.php?page=home&action=1 [L]
RewriteRule ^succes$ index.php?page=succes [L]
RewriteRule ^vote$ index.php?page=vote [L]
RewriteRule ^join$ index.php?page=join [L]
RewriteRule ^donate$ index.php?page=donate [L]
RewriteRule ^account$ index.php?page=account [L]